extends layout

block style
    link(rel='stylesheet' href='/css/auth.css')
    link(rel='stylesheet' href='/css/modal.css')
block content
    body
        form(action='auth/join' method='post')
            div
                h1 회원가입
                label(for='username') 아이디:
                input#username(type='text' name='username' required)
                label(for='password') 비밀번호:
                input#password(type='password' name='password' required)
                label(for='confirm-password') 비밀번호 확인:
                input#confirm-password(type='password' name='confirm-password' required)
                label(for='email') 이메일:
                input#email(type='text' name='jnu_mail' required)
                //- div#modal_btn
                //-     button#open-modal(type='button') 인증하기
                if joinError
                    .error-message= joinError
                //- form#modal-form(action='/auth/verify' method='post')
                div#modal-form-content
                    h1 이메일 인증
                    div#modal-admin
                        label(for='verification') 인증번호:
                        input#verification(type='text' name='verification')
                    if verifyError
                        .error-message= verifyError
                    button#verify-button(type='submit') 인증확인
                    a#close-modal(href='#') 돌아가기
                button#join_btn(type='submit' name='submit' value='register') 가입하기
                a(href='/') 처음으로
    script.
        // 모달 열기
        const joinButton = document.querySelector('#join_btn');
        const modal = document.querySelector('#modal-form-content');
        const closeModalButton = document.querySelector('#close-modal');

        //- joinButton.addEventListener('click', function() {
        //-     event.preventDefault(); // 폼 제출 방지
        //-     modal.classList.remove('hidden');
        //- });

        //- closeModalButton.addEventListener('click', function() {
        //-     modal.classList.add('hidden');
        //- });
