extends layout

block style
    link(rel='stylesheet' href='/css/login.css')
block content
    body
        form(action='/auth/login' method='post')
            div
                h1 로그인
                label(for='username') 아이디:
                input#username(type='text' name='username' required)
                label(for='password') 비밀번호:
                input#password(type='password' name='password' required)
                if joinError
                    .error-message= joinError
                button(type='submit') 로그인
            a(href='/') 처음으로