extends layout

block style
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/reservation.css')
block content
    body
        .user_logo
            img(src='/profile.png' alt='profile', onclick=`location.href =\`/profile/${user.id}\``)
        main
            .reser_text
                p 예약하시겠습니까?
            .btns
                each place in places
                    .space_btn
                        button
                            a(href=`/reservation/${place.name}`) #{place.name}