extends layout

block style
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/modal2.css')

block content
    body
        .container
            .user_logo
                img(src='/profile.png' alt='profile', onclick=`location.href =\`/profile/${user.id}\``)
            main
                .service_name
                    p 학교 시설 예약 서비스
                    img(src='/manual.png' alt='manual' onclick='openModal()')
                .service_logo
                    img(src='/logo.png' alt='logo')
                .btns
                    .regist_btn
                        button
                            a(href='/reservation') 예약
                    .login_btn
                        button
                            a(href='/recruit') 모집

        #modal-overlay(onclick='closeModal()')
            #modal
                .header
                    h2 사용 설명
                .content
                    p 1. 계정이 있을 시 로그인 화면, 계정이 없을 시 회원가입 화면으로 이동
                    p 2. 회원가입 시 제주대학교 웹 메일로만 가입이 가능
                    p 3. 가입하기 버튼을 누르면 해당 메일로 인증번호 전송 후 인증확인 창으로 이동
                    p 4. 인증확인 완료 시 메인화면으로 이동 후 로그인을 통해 웹 사이트 이용 가능
                    p 5. select 화면에서 예약, 모집 선택
                    p 6. 예약 화면에서는 원하는 날짜와 시간을 선택할 수 있고 해당 시간에 예약이 이미 있을 시 선택 불가
                    p 7. 원하는 날짜와 시간 선택 후 예약신청서를 작성 후 신청하기를 누르면 예약 완료(예약 현황은 프로필 화면에서 열람 가능)
                    p 8. 모집 화면에서는 본인이 게시글을 작성해서 인원을 모집할 수도 있고 이미 존재하는 모집글에서 희망하는 곳을 선택하여 사용

        script.
            function openModal() {
                const modalOverlay = document.getElementById('modal-overlay');
                modalOverlay.style.display = 'block';
            }

            function closeModal() {
                const modalOverlay = document.getElementById('modal-overlay');
                modalOverlay.style.display = 'none';
            }